aiohttp==3.8.1
aiosignal==1.2.0
asgiref==3.5.0
async-timeout==4.0.1
backports.zoneinfo==0.2.1
brotlipy==0.7.0
certifi==2021.10.8
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
charset-normalizer==2.0.8
click @ file:///home/conda/feedstock_root/build_artifacts/click_1648793465649/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1634230276575/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
Django==4.0.4
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1645136850180/work
frozenlist==1.2.0
fsspec==2021.11.1
future @ file:///home/conda/feedstock_root/build_artifacts/future_1649010148304/work
huggingface-hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1649251997099/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1648728286052/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
jsonlines==3.0.0
jupyter-http-over-ws==0.0.8
lpips==0.1.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
multidict==5.2.0
numpy==1.22.3
olefile==0.46
openai==0.18.1
openpyxl==3.0.9
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.4.0
pandas-stubs==1.2.0.45
Pillow==9.1.0
plotly==5.4.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyDeprecate==0.3.1
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1649603503565/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1648857275402/work
python-dateutil==2.8.2
pytorch-fid==0.2.1
pytorch-lightning==1.5.3
pytz==2021.3
PyYAML==6.0
regex @ file:///tmp/build/80754af9/regex_1648447708112/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
sacremoses @ file:///home/conda/feedstock_root/build_artifacts/sacremoses_1647361442468/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sqlparse==0.4.2
tenacity==8.0.1
tokenizers==0.12.1
torch==1.10.2
torchmetrics==0.6.0
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1649051611147/work
transformers==4.18.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1650370875435/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1647489083693/work
yarl==1.7.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1649012893348/work
