<script>

    document.addEventListener("DOMContentLoaded", function(event) { 
        var scrollpos = localStorage.getItem('scrollpos');
        if (scrollpos) window.scrollTo(0, scrollpos);
    });

    window.onbeforeunload = function(e) {
        localStorage.setItem('scrollpos', window.scrollY);
    };

    // Content Loaded
    window.addEventListener("DOMContentLoaded", (e) => {
        var headers = document.querySelectorAll(".header");
        var chatRooms = document.querySelectorAll(".chat-room");
        var typeAreas = document.querySelectorAll(".type-area");
        var inputTexts = document.querySelectorAll("#inputText");
        var btnSends = document.querySelectorAll(".button-send");
        var messageForms = document.querySelectorAll(".message-form");
        var messageAreas = document.querySelectorAll(".message.message-right");

        // Header onclick event
        for (let i = 0; i < typeAreas.length; ++i){
            headers[i].addEventListener("click", (e) => {
                if (typeAreas[i].classList.contains("d-none")) {
                    headers[i].style.borderRadius = "20px 20px 0 0";
                } 
                else {
                    headers[i].style.borderRadius = "20px";
                }
                typeAreas[i].classList.toggle("d-none");
                chatRooms[i].classList.toggle("d-none");
            });
        }

        // Button Send onclick event
        for (let i = 0; i < btnSends.length; ++i){
            btnSends[i].addEventListener("click", (e) => {
                messageForms[i].submit()
            });
        }

        // Form submit event
        for (let i = 0; i < messageForms.length; ++i){
            messageForms[i].addEventListener("submit", (e) => {
                var mess = inputTexts[i].value;
                var bubble = document.createElement('div');
                bubble.className += " bubble bubble-dark";
                bubble.textContent = mess;
                messageAreas[i].appendChild(bubble);
                inputTexts[i].value="";
            });
        }
    });
</script>

{% for i in '01'|make_list %}
<div class="chat-box">
    <div class="header">
      <div class="avatar-wrapper avatar-big">
        <img src="https://znews-photo.zadn.vn/w660/Uploaded/pnbcuhbatgunb/2020_03_23/i13863960814_1.jpg" alt="avatar" />
      </div>
      <span class="name">Crush</span>
      <span class="options">
        <i class="fas fa-ellipsis-h"></i>
      </span>
    </div>
    <div class="chat-room">
      <div class="message message-left">
        <div class="avatar-wrapper avatar-small">
          <img src="https://znews-photo.zadn.vn/w660/Uploaded/pnbcuhbatgunb/2020_03_23/i13863960814_1.jpg" alt="avatar" />
        </div>
        <div class="bubble bubble-light">
          Hey anhat!
        </div>
      </div>
      <div class="message message-right">
        <div class="avatar-wrapper avatar-small">
          <img src="https://znews-photo.zadn.vn/w660/Uploaded/pnbcuhbatgunb/2020_03_23/i13863960814_1.jpg" alt="avatar" />
        </div>
        <div class="bubble bubble-dark">
          what is going on?
        </div>
      </div>
    </div>
    <div class="type-area">
      <div class="input-wrapper">
        <form class="message-form" method="POST" action="">
            {% csrf_token %}
            <input autofocus type="text" id="inputText" name="message" placeholder="Type messages here..." />
        </form>
      </div>
      <button class="button-send">Send</button>
    </div>
</div>
{% endfor %}