{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'game/style.css' %}">
<style>
    @font-face { font-family: ARCADE; src: url("{% static 'game/ARCADE.TTF' %}"); } 
    input{
        background-color: #101010;
        color: #ffffff;
        border: none;
        outline: none;
        font-family: ARCADE;
        font-size: 30px;
    }

    body{
        background-color: #101010;
        color: #ffffff;
        font-family: ARCADE;
        font-size: 30px;
    }

    h1{
        font-size: 70px;
        margin: 30px 0px 10px 60px;
    }

    img{
        max-width: 100%;
        height: auto;
    }

    .item-img{
        width: 100px;
        height: 100px;
        padding-bottom: 50px;
    }

    .row {
        display: flex;
    }

    .column {
        flex: 50%;
        height:800px;
        overflow-wrap: break-word;
        /* overflow-y:auto; */
        padding-left: 50px;
        padding-right: 50px;
    }
</style>

<body>
    <h1> {{ location }} </h1>
    <div class="row">
        <div class="column">
            <img src="{% static location_img %}" />
            {% include 'chat.html' %}
        </div>
        <div class="column">
            <p style="white-space: pre-wrap;">{{narration}}</p>
            <img class="item-img" src="{% static location_img %}"/>
            <form method="POST" action="">
                {% csrf_token %}
                > <input type="text" id="commandInput" name="command" style="width: 80%">
                <input type="submit" style="display: none" />
            </form>
        </div>
    </div>

</body>